<script src="https://js.stripe.com/v3/"></script>
<button id="checkout-button">Pay Now</button>
<script>
  const stripe = Stripe("{{ STRIPE_PUBLIC_KEY }}");

  document.getElementById("checkout-button").addEventListener("click", () => {
    fetch("{% url 'payments:create_checkout_session' %}", {
      method: "POST",
      headers: {
        'X-CSRFToken': '{{ csrf_token }}',
      },
    })
    .then(res => res.json())
    .then(data => stripe.redirectToCheckout({ sessionId: data.id }));
  });
</script>
<a href="{% url 'bots:create' %}" class="subscribe-button">Get Started</a>

