<!DOCTYPE html>
<html lang="en">

<head>
    <script>
        if (
            localStorage.getItem("theme") === "dark" ||
            (!("theme" in localStorage) &&
                window.matchMedia("(prefers-color-scheme: dark)").matches)
        ) {
            document.documentElement.classList.add("dark");
        }
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="/static/css/styles.a6166fbf318f.css?v=2" />
    <link rel="icon" href="/static/images/favicon.4ef4b68c8bf7.ico" />
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>

            <li><a href="/accounts/login/">Login</a></li>
            <li><a href="/accounts/register/">Register</a></li>

        </ul>
    </nav>

    <button id="toggleTheme" class="toggle-theme" aria-label="Toggle theme">
        <span id="theme-icon">🌙</span>
    </button>

    <main>
        <h2>Create an Account</h2>



        <form method="post">
            <input type="hidden" name="csrfmiddlewaretoken"
                value="g7aUHBS3PZ6UFzcJiEyFppAHFV0AI63mC8A8PbqTENNx58csQaG7e81G8Yte4Tnm">
            <label>Username:</label><br>
            <input type="text" name="username" required><br><br>
            <label>Email:</label><br>
            <input type="email" name="email" required><br><br>
            <label>Password:</label><br>
            <input type="password" name="password" required><br><br>
            <button type="submit">Register</button>
        </form>
    </main>

    <footer>
        <p>&copy; 2025 AI Assistant. Developed By Mr.Husse</p>
    </footer>

    <script>
        const toggleButton = document.getElementById("toggleTheme");
        const icon = document.getElementById("theme-icon");
        const html = document.documentElement;

        function updateIcon() {
            icon.textContent = html.classList.contains("dark") ? "🌙" : "🌞";
        }

        updateIcon();

        toggleButton?.addEventListener("click", () => {
            const isDark = html.classList.toggle("dark");
            localStorage.setItem("theme", isDark ? "dark" : "light");
            updateIcon();
        });
    </script>
</body>

</html>