<!DOCTYPE html>
<html>

<head>
    <title>Password Reset Requested</title>
</head>

<body>
    <p>Hello,</p>
    <p>You (or someone else) requested a password reset for your account.</p>
    <p>Please click the link below to reset your password:</p>
    <p>
        <a href="{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}">
            Reset Your Password
        </a>
    </p>
    <p>If you didn’t request this, please ignore this email.</p>
</body>

</html>

Hello,

You (or someone else) requested a password reset.

Reset your password here:
{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}

If you didn’t request this, please ignore this email.